 <header class="header">
        <nav class="navbar">
            <div class="nav-container">
                <div class="logo">
                    <h1>☕ Café Aroma</h1>
                </div>
                <div class="nav-menu" id="nav-menu">
                    <ul class="nav-list">
                        <li><a [routerLink]="['/']" class="nav-link active">Inicio</a></li>
                        <li><a [routerLink]="['/menu']" class="nav-link">Menú</a></li>
                        <li><a [routerLink]="['/nosotros']" class="nav-link">Nosotros</a></li>
                        <li><a [routerLink]="['/contacto']" class="nav-link">Contacto</a></li>
                        <li><a [routerLink]="['/reservas']" class="nav-link">Reservas</a></li>
                    </ul>
                </div>
                <div class="hamburger" id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </nav>
    </header>
